@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3></h3>

<div class="jumbotron" style="background:url(../Images/Desert.jpg); background-size:cover; background-position:center" >
    <h1><FONT color="White"> Description about us. All you want to know.</FONT></h1>
   
   
   
</div>

<p class="lead" >
  
        Nos encargamos de suministrar información acerca de las</br>
        películas que están actualmente en carterela. Y manejamos </br>
        un historial de personajes queintervienen de una u otra forma</br>
       en estás.

</p>
<p class="lead"><font color="#0404B4">
    
        Si te interesa contactar al creador de la página dirigete a la opción Contact Developer
    </font>
</p>