@{
    ViewData["Title"] = "Contact";
}
<h2>Developer's  Contact Information</h2>
<h3>Sytems Enginnering</h3>

<body background="fondo2.jpg">

    <div class="container">

        <div class="row">
            <div class="col-md-3">
                <address>
                    Universidad Icesi<br />
                    Santiago de Cali - Pance<br />
                    <abbr title="Phone">Phone:</abbr>
                    305-308-8359
                </address>
                <address>
                    <strong>Support:</strong> <a href="mailto:diland.t95@hotmail.com">diland.t95@hotmail.com</a><br />
                    <strong>Marketing:</strong> <a href="mailto:diland.t95@hotmail.com">diland.t95@hotmail.com</a>
                </address>
                <p><a href="http://www.facebook.com/dylan.torres95/" class="btn btn-primary btn-lg">Red Social </a></p>
            </div>
            <div class="col-md-3">

                <p><img class="img-responsive" src="~/images/dylan.jpg" width="100" height="100" /></p>
            </div>
        </div>
      </div>    

    </body>
            <style>
                .embed-container {
                    position: relative;
                    padding-bottom: 56.25%;
                    height: 0;
                    overflow: hidden;
                    max-width: 100%;
                }

                    .embed-container iframe, .embed-container object, .embed-container embed {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }
            </style>
            <div class='embed-container'>
                <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1667.8332307389946!2d-76.53057300000002!3d3.341233!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x766b9b441dfa8bbe!2sUniversidad+ICESI!5e1!3m2!1sen!2sit!4v1460424319087" width="800" height="600" frameborder="0" style="border: 0" allowfullscreen></iframe>
            </div>
