@model IEnumerable<PromotorDePeliculas.Models.ModelsVista.PeliculaNroPremios>
@{
    ViewBag.Title = "PeliculasTotalPremios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Peliculas y su numero de premios</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPremios)
            </th>
            <th></th>
        </tr>
</thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPremios)
                </td>
            </tr>
        }
    <tbody>
</table>
